body {background-color: antiquewhite;}

.container {
display: flex;
justify-content: center;
margin-top: 200px;
flex-direction: row;
}

img {width: 300px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;}

.right {background-color: white;
width: 330px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.text {margin-left: 40px;}

.text h4 {opacity: .3;
    font-family: 'Montserrat', sans-serif;}

.text h1 {opacity: .8;
color: rgb(21, 20, 29);
font-family: 'Montserrat', sans-serif;}

.text p {opacity: .5;
    font-family: 'Montserrat', sans-serif;}

.price1 {color: rgb(73, 138, 73);
font-size: 40px;
margin-left: -20px;
font-family: 'Montserrat', sans-serif;
font-family: 'Lobster', cursive;}

.price {display: flex;
justify-content: space-evenly;
}

.price2 {text-decoration: line-through;
opacity: .4;
margin-top: 15px;}

button {display: flex;
padding: 10px 50px 10px 50px;
margin-left: 60px;
margin-top: 20px;
background-color: rgb(73, 138, 73);
border-radius: 10px;
border: none;}

button img {width: 25px;
margin-right: -30px;}

button .text {margin-top: 5px;
color: white;
;}
    

button:hover {background-color: rgb(56, 107, 56);}

@media screen and (max-width: 600px)
{
    body {background-color: antiquewhite;}

    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
        
        }

    img {width: 330px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    margin-top: -180px;}

    .right {background-color: white;
        width: 330px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        margin-top: -130px;
        height: 390px;
        }

    .text h1 {font-size: 20px;}

    button {display: flex;
        padding: 10px 50px 10px 50px;
        margin-left: 60px;
        margin-top: 20px;
        background-color: rgb(73, 138, 73);
        border-radius: 10px;
        border: none;
        align-items: baseline;}

        button img {width: 15px;
            margin-right: -30px;
            ;}
            
        button .text {margin-top: 1px;
            color: white;
            
        }


}
    
